awkward
boost-histogram
comet-ml
fastjet
fsspec
numba
pandas
pyarrow
pyyaml
scipy
seaborn
tensorflow-addons
tensorflow-datasets<=4.8.1
tensorflow



## For dataset preparation/generation
# smaller requirement set:
# awkward
# fastjet
# tensorflow
# tensorflow-datasets<=4.8.1